.container-sigin{
    height: 100%;
    align-content: center;
}

.card-sigin{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.signin-btn{
    display: block;
    background-color: white ;
    opacity: .7;
    width: 80%;
}

.signin-input{
    width: 80%;
    margin-left: 10%;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}