.movie-list {
    color: white;
    background-color: rgba(0,0,0,0.2) !important;
    height: 80%;
    overflow:hidden;
    overflow-y:scroll;
    position:relative
}

ul {
    position: absolute;
    top:1%;
    list-style: none;
    padding: 0;
    line-height: 2rem;
}
