@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/d/a/0/1254394-amazing-oblivion-movie-wallpaper-2880x1800-for-samsung.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

span{
    color:white;
}

.card-header h3{
    color: white;
}

.card-footer {
    display: block;
}

.center-wrapper {
    display: flex;
    justify-content: center;
}
